*
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
}

img
{
	border:0px;
}

body, background
{
	width:1000px;
	margin:0 auto;
}

#header 
{
	background-image:url(images/top_header_bg.gif);
	background-repeat:repeat-x;
	padding-top:13px;
	width:1000px;
	height:362px;	
	color:#D8DCE0;
	overflow:hidden;
}
#login 
{
	padding:0 0 0 400px;
}

#login .textbox
{
	background:url(images/top_textbox.gif);
	background-position:top left;
	background-repeat:no-repeat;
	margin:0 8px 0 0;
	border:none;
	width:120px;
	height:19px;
	padding:0px 7px 3px 7px;
	color:#FFF;
	float:left;
}

.login_button
{
	width:98px;
	height:29px;
	background:url(images/btnLogin.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	float:left;
	text-align:center;	
	padding:0px 5px 10px 5px;
	color:#FEEEE4;
	border:none;
}

/*#header .login_button a
{
	color:#FEEEE4;
	text-decoration:none;
	padding:0 8px;
}*/

.links a
{
	color:#D8DCE0;
	padding:0px 13px;
	text-decoration:underline
}

.links a:visited
{
	text-decoration:underline
}

.links a:hover
{
	text-decoration:none
}

#menu
{
	width:100%;
	height:50px;
	background:#FFF;
	float:left;
}

#menu_bg
{
	background:url(images/menu.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	margin:auto;
	vertical-align:middle;
	width:555px;
	height:33px;
	padding:0 15px;
}

#menu_bg ul
{
	margin:0 0 0 2px;
}

#menu_bg li
{
	display:inline;
	color:#000;
	line-height:33px;
	padding:0 12px;
}

#menu_bg li a
{
	text-decoration:none;
}

#menu_bg li a:visited
{
	color:#000;
	text-decoration:none;
}

#menu_bg li a:hover
{
	color:#009edc;
	text-decoration:underline;
}

#logo_banner
{
	width:1000px;
	height:264;
	float:left;
	padding:0px 0px 0px 39px;
}

#logo_block
{
	width:193px;
	overflow:hidden;
	float:left;
	padding:0px 0px 0px 5px;	
}

#banner_block
{
	width:737px;
	height:189px;
	background:url(images/banner.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	float:left;
	padding:105px 0px 0px 0px;
}

.text_slogan
{
	color:#858484;
	width:145px;
	display:block;
	float:left;
	background:url(images/small-seperator.gif);
	background-position:bottom left;
	background-repeat:no-repeat;
	font-size:11px;
	padding:10px 0;
}

.title
{
	padding:0 0 20px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#414141;
}

#banner
{
	padding:0 0 53px 1px;
	float:left;
}

.normal_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#585858;
}

.search_textbox
{
	background:url(images/search_textbox.gif);
	background-position:top left;
	background-repeat:no-repeat;
	padding:0 5px;
	border:none;
	color:#FFF;
	width:130px;
	height:21px;
}

#search_div
{
	float:left;
	width:auto;
	padding:0 0 0 519px;
}

#search_div span
{
	color:#505051;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0 5px 0 0;
}

#footer
{
	background-image:url(images/footer_bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	width:950px;
	height:34px;
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#footer li
{
	color:#E8E9E9;
	display:inline;
	list-style-type:none;
	line-height:28px;
}

#footer li a
{
	color:#E8E9E9;
	margin:0 10px;
	text-decoration:none
}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}

#footer p
{
	line-height:46px;
	padding:5px 0 0 0;
	text-align:center;
	color:#323232
}

#footer p a
{
	color:#254A73;
	text-decoration:underline
}
#footer p a:visited{text-decoration:underline}
#footer p a:hover{text-decoration:none}